@import url('https://fonts.googleapis.com/css?family=Francois+One|PT+Serif:400,400i,700,700i');

body {
  font-family: 'PT Serif', sans-serif;
  margin: 0px;
  width: 313px;
  opacity: 1;
  display: block
}

.CarouselArrow {
  position: absolute;
  top: 50%;
  display: block;
  color: #111;
  cursor: pointer;
  opacity: .75;
  transform: translateY(-50%);
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);
}

.CarouselArrow:focus {outline: 0}

.CarouselArrow:hover {opacity: .5}

.CarouselArrow--left {left: 32px}

.CarouselArrow--right {right: 32px}

.CarouselSlide {
  height: 50px;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  display: none;
  max-width: 900px;
  list-style-type: none;
  text-align: center;
}
.CarouselSlideActive {
  height: 50px;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 900px;
  list-style-type: none;
  text-align: center;
}

.inactive {
  display: none;
}
.active {
  display: block;
}

/* .carousel {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin: 0px
}

.carouselButtons {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  width: 88.33px;
  height: 88.33px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 2px 2px 2px 2px
} */

.input {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  height: 48px;
}

.submit {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  padding: 12px 1.5rem;
  border-radius: 2px 2px 2px 2px
}

.subscript {
  text-align: left;
  font-size: 12px;
}